@import url("https://fonts.googleapis.com/css2?family=Lexend&display=swap");

html,
body {
  height: 100%;
  font-family: "Lexend", sans-serif;
  margin: 0;
  color: #3e0697;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(57, 65, 68);
}

h1,
h1 a {
  color: white;
  margin: 0;
  padding: 20px 0px;
  font-size: 70px;
  text-decoration: none;
  text-shadow: 0px 2px 10px white;
}

h2 {
  color: white;
}

.ch2 h2:hover {
  color: #3e0697;
}


.ch2 {
  color: #3e0697;
}

h3 {
  margin-top: 10px;
}

main {
  width: 100%;
  max-width: 1060px;
  border-radius: 10px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}

article {
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
  background: rgb(156, 0, 255);
  background: linear-gradient(147deg,
      rgba(156, 0, 255, 1) 0%,
      rgba(192, 81, 163, 1) 45%,
      rgba(255, 224, 0, 1) 100%);
  border-radius: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: inset 0px 1px 20px white;
}

.theme {
  margin-top: 60px;
}
.aboutuscont .teamsocial {
  float: right;
  height: 15px;
  padding: 0 0 0 5px;
}
h4 {
  display: flex;
  align-items: center;
}
header {
  text-align: center;
  width: 100%;
  background: white;
  background: rgb(156, 0, 255);
  background: linear-gradient(147deg,
      rgba(156, 0, 255, 1) 0%,
      rgba(192, 81, 163, 1) 45%,
      rgba(255, 224, 0, 1) 100%);
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 5px 5px rgb(60, 68, 75);
}

iframe {
  padding-bottom: 25px;
  width: 560px;
  height: 315px;
}

.video-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-article h2 {
  font-size: 30px;
}

.video-article h2:hover {
  color: white;
}

.aboutuscont {
  color: white
}

.aboutuscont h2 {
  margin-bottom: 0;
}

.aboutuscont h4 {
  font-size: 24px;
  margin: 10px 0;
}

.aboutuscont p {
  font-size: 16px;
  max-width: 800px;
  color: #ffffff;
}

.aboutuscont img {
  height: 200px;
  float: left;
  padding-right: 15px;
}
.aboutuscont span {
  font-size: 16px;
}

footer {
  height: 100%;
  max-height: 300px;
  color: white;
  background: rgb(45, 50, 53);
  width: 100%;
  text-align: center;
  border-radius: 10px 10px 0 0;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  align-items: flex-end;
}

footer p {
  margin: 10px 0;
}

.mail {
  color: white;
  text-decoration: none;
}

.mail:hover {
  text-decoration: underline;
}

.footer-l-div {
  margin-left: 100px;
  display: flex;
  align-items: center;
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.rbundig {
  text-align: right;
  margin-right: 100px;
}

.lbundig {
  text-align: left;
}

footer img {
  height: 30px;
  width: auto;
  margin: 5px 0;
}

nav {
  display: flex;
  flex-direction: row;
  background: rgb(45, 50, 53);
  justify-content: center;
  border-radius: 0 0 10px 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  padding: 0;
  margin: 5px;
}

nav li {
  padding: 10px 0;
  transition: 0.3s;
}

nav li:hover {
  background: rgb(67, 73, 78);
}

nav a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  border-right: solid 1px rgb(28, 31, 32);
  padding: 5px 10px;
}

#first-border {
  border-left: solid 1px rgb(28, 31, 32);
}

input {
  margin-bottom: 10px;
  margin-top: 3px;
  font-size: 20px;
}

.propinput {
  width: 110px;
  margin: 4px;
}

.disinput {
  text-align: center;
}

.result {
  font-weight: bold;
}

.cbutton {
  background: #3e0697;
  border: none;
  padding: 7.5px 20px;
  margin-bottom: 10px;
  color: white;
  font-size: 13.3px;
  border-radius: 15px;
}

.ibutton {
  background: #3e0697;
  border: none;
  padding: 7.5px 20px;
  margin-bottom: 10px;
  color: white;
  border-radius: 19px;
}

.ibutton:hover,
.cbutton:hover {
  background: #5d23bb;
}

.rechner {
  display: flex;
  flex-direction: row;
}

form {
  background: white;
  padding: 20px;
  margin: 0 10px 30px 10px;
  border-radius: 20px;
  max-width: 300px;
  width: 100%;
}

/*dropicon*/
/*dropicon*/
/*dropicon*/
.dropicon {
  height: 12px;
  width: auto;
  padding-left: 5px;
}

@keyframes dropiconrotate {
  100% {
    transform: rotate(180deg);
    animation-timing-function: linear;
    padding-left: 0;
    padding-right: 5px;
  }
}

nav li:hover .dropicon {
  animation: dropiconrotate 0.3s 1;
  animation-fill-mode: forwards;
}

/*dropdown*/

nav li {
  float: left;
  position: relative;
}

nav li ul a {
  display: block;
  padding: 0 5px;
  border: none;
  width: auto;
  text-align: left;
}

nav li li {
  background: rgb(67, 75, 78);
  width: 100%;
  white-space: nowrap;
}

.submenu li:hover,
.subsubmenu li:hover {
  background: rgb(120, 131, 134);
}

.submenu {
  display: none;
  position: absolute;
  left: -5px;
  z-index: 1;
}

.subsubmenu {
  display: none;
  position: absolute;
  top: -5px;
  left: 96%;
  z-index: 1;
}

nav li:hover .submenu {
  display: block;
}

.submenu li:hover .subsubmenu {
  display: block;
}

/* article dropdown */
.ch2 h2 {
  color: #5d23bb;
}

.cdropdown h2 {
  color: #ffffff;
}

.cdropdown h2:hover {
  color: #3e0697;
}

.ch2 {
  color: #5d23bb;
}

.cdropdown {
  position: relative;
  display: inline-block;
}

.cdropdown ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 5px 0;
  display: none;
  position: relative;
  z-index: 1;
}

article ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0 5px 0;
  position: relative;
  z-index: 1;
}

.cdropdown li {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding-left: 10px;
}

article li {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin: 0 0 10px 0;
  padding-left: 10px;
}

.cdropdown li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  padding: 8px;
  margin: 5px 0;
  font-weight: bold;
}

article li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  text-decoration: none;
  padding: 8px;
  margin: 5px 0;
  font-weight: bold;
}

article li a:hover {
  background: rgba(255, 255, 255);
  border-radius: 5px;
  color: #3e0697;
  box-shadow: 0px 1px 20px white;
}

@media screen and (max-width: 1100px) {
  .rechner {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  article {
    max-width: 800px;
  }
}

@media screen and (max-width: 900px) {
  .rechner {
    flex-direction: row;
  }

  article {
    width: 100%;
    max-width: 560px;
  }

  h3 {
    font-size: 15px;
  }

  form {
    padding: 10px;
    font-size: 12px;
    margin-bottom: 20px;
    width: 200px;
  }

  .ibutton {
    font-size: 15px;
    padding: 7.5px 10px;
    border-radius: 16px;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .cbutton {
    margin-bottom: 5px;
  }

  form p {
    margin: 8px 0;
  }

  input {
    margin-bottom: 10px;
    margin-top: 3px;
    font-size: 15px;
    width: 180px;
  }

  .propinput {
    width: 75px;
    margin: 2px;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .rbundig {
    text-align: left;
    margin-left: 100px;
    margin-right: 0;
  }
}

@media screen and (max-width: 650px) {
  article {
    max-width: 280px;
    width: 100%;
  }

  h1 {
    color: white;
    margin: 0;
    padding: 15px 0px;
    font-size: 40px;
  }

  .rechner {
    flex-direction: column;
    align-items: center;
  }

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rbundig {
    text-align: left;
    margin-left: 0;
  }

  .footer-l-div {
    margin-left: 0;
    display: flex;
    align-items: center;
  }

  iframe {
    padding-bottom: 25px;
    width: 280px;
    height: 155px;
  }
  .aboutuscont img {
    height: 160px;
    padding-bottom: 15px;
  }
}